@model SkillServiceModel
@inject ICreatorService creatorService
@inject IOnlineCourseService onlineService
@inject ISkillService skillService


<div class="col-md-4">
    <div class="card mb-2">
        <img class="card-img-top" src="@Model.ImageURL" alt="Skill Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>
                Price Per Month:
                <b>@String.Format("{0:f2}", Model.PricePerMonth) BGN</b>
            </h6>
            <h6>(Participants: @(Model.Participants))</h6>
            <br />
            <a asp-controller="OnlineCourse" asp-action="Details" asp-route-id="@Model.Id"
               asp-route-information="@Model.GetInformation()" class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated)
            {
                if (await onlineService.HasCreatorWithIdAsync(Model.Id, User.Id()))
                {
                    <a asp-controller="OnlineCourse" asp-action="Edit" asp-route-id="@Model.Id"
                       class="btn btn-warning">Edit</a>
                    <a asp-controller="OnlineCourse" asp-action="Delete" asp-route-id="@Model.Id"
                       class="btn btn-danger">Delete</a>

                }
                <p></p>
                if (await creatorService.ExistsByIdAsync(User.Id()) == false)
                {
                    <form class="input-group-sm" asp-controller="OnlineCourse"
                          asp-action="Join" asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Join" />
                    </form>
                } 
                else if (await skillService.HasJoinedOnHandByUserIdAsync(Model.Id, User.Id()))
                { 
                    <form asp-controller="OnlineCourse" asp-action="Leave"
                          asp-route-id="@Model.Id" method="post">
                        <input class="btn btn-primary" type="submit" value="Leave" />
                    </form>
                }
            }
        </div>
    </div>
</div>
