@model AllSkillsQueryModel

@{
    ViewBag.Title = "All Skills";
}

<h2 style="color:#048c7d" class="text-center">@ViewBag.Title</h2>
<hr />

<form method="get">
    <div class="row">
        <div class="form-group col-md-3 d-flex justify-content-between">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="...">
        </div>

        <div class="form-group col-md-3" >
            <div class="form-group">
                <label asp-for="Sorting"></label>
                <select asp-for="Sorting" class="form-control">
                    <option value="0">Price</option>
                    <option value="1">Newest</option>
                    <option value="2">Participants</option>
                </select>
            </div>
        </div>

        <div class="col-md-3">
            <div class="form-group mt-4 p-2">
                <input style="border-color:#048c7d;background-color:aquamarine;color:black;" type="submit" value="Search" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalSkillsCount /
        Model.SkillsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-start">
        <a style="border-color:#048c7d;background-color:aquamarine;color:black;" class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Skill"
           asp-action="All"
           asp-route-currentPage="@previousPage"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
        !Model.OnlineSkills.Any() || !Model.OnHandSkills.Any();
    }

    <div class="col-md-6 d-grid gap-2 d-md-flex justify-content-md-end">
        <a style="border-color:#048c7d;background-color:aquamarine;color:black;width:" class="btn btn-primary
           @(shouldButtonBeDisabled ? "disabled" : string.Empty)"
           asp-controller="Skill"
           asp-action="All"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-category="@Model.Category"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)">>></a>
    </div>
</div>




<h2 style="color:#048c7d" class="text-center">Online Courses</h2>
<hr />

@if (!Model.OnlineSkills.Any())
{
    <h3 class="text-center">No skills found by the given criteria!</h3>
}

<div class="row">

    @foreach (var skill in Model.OnlineSkills)
    {
        <partial name="_OnlineAllPartial" model="@skill" />
    }
</div>


<h2 style="color:#048c7d" class="text-center">On Hand Experiences</h2>
<hr />

@if (!Model.OnHandSkills.Any())
{
    <h3 class="text-center">No skills found by the given criteria!</h3>
}

<div class="row">
    @foreach (var skill in Model.OnHandSkills)
    {
        <partial name="_OnHandAllPartial" model="@skill" />
    }
</div>
